.container {
  display: flex;
}

.listContainer {
  @extend .container;
  height: 400px;
}

.carouselContainer {
  @extend .container;
  flex-direction: column;
  .map {
    height: 80%;
  }
}

.list {
  flex: 2;
  order: 1;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.carousel {
  display: flex;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
